.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 20px;
    background-color: #5EABD6;
    color: white;
    height: 50px;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.nav-links {
    margin-left: 20px;
    text-decoration: none;
}

.nav-links a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.nav-links a:hover {
    text-decoration: underline;
}

body {
    margin: 0px;
}

